html {
    background-color: rgb(244, 244, 238);
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 1.2rem;
}

hr {
    margin-left: -20px;
    margin-right: -20px;
}

::placeholder {
    color: rgb(185, 185, 165);
    font-size: 1rem;
}

.dark-theme-font {
    color: white !important;
}
.dark-panel {
    background-color: rgb(50, 50, 50) !important;
}
.dark-chat-box {
    background-color: rgb(60, 60, 60) !important;
    box-shadow: 0 0 1px rgb(180, 180, 180) !important;
}
.dark-chat-box:hover{
    background-color: rgb(110, 110, 110) !important;
}
.dark-container{
    background-image: radial-gradient(white, rgb(35, 35, 35)) !important;
}
.dark-input {
    background-color: rgb(147, 147, 147) !important;
    color: white !important;
}
.dark-create-div{
    background-color: rgb(60, 60, 60) !important;
}